html,

//title customization
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  //color: #4d4d4d;
  color: #FFBF00;

  //of margin I think
  min-width: 230px;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 300;

  //outside square - border colour
  background-color: #1f1f1f;
}

//need to insert / delete
.app-logo {
  animation: app-logo-scale infinite 4s linear;
  height: 80px;
  width: 80px;
}

.app-header {
  background-color: #1f1f1f; //this is the margin for the game
  height: 40px; //how large margin is
  color: aliceblue; //colour of "Game of life text"
  padding: 20px;
}

//updating the text
.app-title {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-weight: 100;
  text-align: center; 
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

/*
//the text below to the original source
.app-footer {
  background-color: #000000; //no clue what this is for
  height: 30px;
  padding: 10px;
}

//modify the text
.footer-text {
  color: red;
  padding-left: 20px;
  font-size: 14px;
}
*/

//split game-area
//split control

.split {
  height: 90%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden; //need to reduce siae of x
  padding-top:10px;
}


//the grid AND the buttons
.game-area {
  width: 80%;
  margin: 10px auto;
}

//the square surronding the grid
//split screen to the left
.game-container {
  left: 0;
  background: #1f1f1f;
  margin: 10px 0 0px 0;
}

//right side
//h3.text
.right {
  right: 0;
  //background: red;
}


//modify this area in order to move the grid
.game-of-life {
  display: inline-block;
  background-color: aliceblue;
  width: max-content;
  overflow: hidden;
}

.game-row {
  line-height: 0; // how far rows are from each other -dont touch
}

.game-cellule {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #cccccc11;
}

.A {
  background-color: #2f2f2f;
}

.B {
  background-color: #f2f2f2;
}

.C {
  background-color: #3f3f3f;
}

.D {
  background-color: #4f4f4f;
}

.E {
  background-color: #5f5f5f;
}

.F {
  background-color: #6f6f6f;
}

.G {
  background-color: #7f7f7f;
}

.H {
  background-color: #8f8f8f;
}

.I {
  background-color: #9f9f9f;
}

.J {
  background-color: #afafaf;
}

.K {
  background-color: #bfbfbf;
}

.L {
  background-color: #cfcfcf;
}

.M {
  background-color: #dfdfdf;
}

.N {
  background-color: #efefef;
}

.O {
  background-color: #ffffff;
}

.P {
  background-color: #0f0f0f;
}

.game-buttons {
  width: 100%
}

button {
  background-color: #3f3f3f; 
  transition-duration: 0.2s;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

//bottom row
.box {
  display: flex;
  height: 150px;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: end;
}

//
.box > div {
  transition-duration: 0.2s;
  background-color: #3f3f3f; /* Gray */
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 60px;
  border: 30px solid #3f3f3f;
}

.menu:hover{	
  background-color: #4CAF50; /* Green */
  color: white;
}


.txt {
  transition-duration: 0.2s;
  font-size: 25px;
  font-family: "Raleway", sans-serif; //sans-serif if raleway does not exist
  margin: 70px;
  border: 2px solid #4CAF50;
  height: 75%;
}

#h3_1:hover {
  transition-duration: 0.2s;
  color: green;
  font-family: "Raleway", sans-serif; //sans-serif if raleway does not exist
}

#h3_2:hover {
  transition-duration: 0.2s;
  color: green;
  font-family: "Raleway", sans-serif; //sans-serif if raleway does not exist
}

#h3_3:hover {
  transition-duration: 0.2s;
  color: green;
  font-family: "Raleway", sans-serif; //sans-serif if raleway does not exist
}

#h3_4:hover {
  transition-duration: 0.2s;
  color: green;
  font-family: "Raleway", sans-serif; //sans-serif if raleway does not exist
}

.full-height {
  height: 75%;
}
