html,

//title customization
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  //color: #4d4d4d;
  color: #FFBF00;

  //of margin I think
  min-width: 230px;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 300;

  //outside square - border colour
  background-color: #1f1f1f;
}

//need to insert / delete
.app-logo {
  animation: app-logo-scale infinite 4s linear;
  height: 80px;
  width: 80px;
}

.app-header {
  background-color: #1f1f1f; //this is the margin for the game
  height: 80px; //how large margin is
  color: aliceblue; //colour of "Game of life text"
  padding: 20px;
}

//updating the text
.app-title {
  font-size: 48px;
  width: 100%;
  font-weight: 100;
  text-align: center; 
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

/*
//the text below to the original source
.app-footer {
  background-color: #000000; //no clue what this is for
  height: 30px;
  padding: 10px;
}

//modify the text
.footer-text {
  color: red;
  padding-left: 20px;
  font-size: 14px;
}
*/

//the grid AND the buttons
.game-area {
  width: 100%;
  margin: 20px auto;
}

//the square surronding the grid
.game-container {
  position: static;
  background: #1f1f1f;
  margin: 20px 0 0px 0;
}

//modify this area in order to move the grid
.game-of-life {
  display: inline-block;
  background-color: aliceblue;
  width: max-content;
  overflow: hidden;
}

.game-row {
  line-height: 0;
}

.game-cellule {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #cccccc55;
}

.cellule-dead {
  background-color: #2f2f2f;
}

.cellule-live {
  background-color: #f2f2f2;
}

.game-buttons {
  width: 100%;
}

button {
  background-color: #3f3f3f; /* Green */
  transition-duration: 0.2s;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

/*
@keyframes app-logo-scale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}
*/
