name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: target
      run: rustup target add wasm32-unknown-unknown
    - name: trunk
      run: cargo install trunk wasm-bindgen-cli
    - name: trunk build
      run: trunk build --release
    
